<!DOCTYPE html>
<html>
  <head>
    <script src="https://aframe.io/releases/1.5.0/aframe.min.js"></script>
  </head>
  <body>
    

    <a-scene>
      <a-assets>
        <img id="sp" crossorigin="anonymous" src="https://werenfridus75.nl/static/spheres/{{ sphere_id }}.jpg">
      </a-assets>

      <!-- <a-triangle color="#CCC" position="0 0 -2" rotation="-90 0 0" scale="0.6"></a-triangle>
      <a-triangle color="#F00" position="-2 0 0" rotation="-90 90 0" scale="0.6"></a-triangle>
      <a-triangle color="#0F0" position="0 0 2" rotation="-90 180 0" scale="0.6"></a-triangle>
      <a-triangle color="#00F" position="2 0 0" rotation="-90 270 0" scale="0.6"></a-triangle> -->
      <a-triangle color="#F0F" position="{{ arrow_coords.0 }} 0 {{ arrow_coords.1 }}" rotation="-90 -{{ arrow_angle }} 0" scale="0.6"></a-triangle>
      <!-- <a-triangle color="#F0F" position="0 0 0" rotation="-90 {{ arrow_angle }} 0" scale="0.6"></a-triangle> -->
      <a-sky src="#sp" rotation="0 90 0"></a-sky>

      <a-camera wasd-controls-enabled="false"></a-camera>
    </a-scene>
  </body>
</html>