<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://aframe.io/releases/1.5.0/aframe.min.js"></script>
    <link rel="stylesheet" href="/static/style.css" />

    <script>
      var PREV_SPHERE = null;
      var CUR_SPHERE = null;

      AFRAME.registerComponent('edges', {
        addedEdges: false,
        tick: function(time, timeDelta) {
          let mesh = this.el.getObject3D("mesh");

          if (mesh === undefined || this.addedEdges) {
            return;
          }

          let arrow_obj = mesh.children[0];
          let edges_geom = new THREE.EdgesGeometry(arrow_obj.geometry);
          let line = new THREE.LineSegments(edges_geom, new THREE.LineBasicMaterial({ color: 0x000000 }));

          arrow_obj.add(line);
          this.addedEdges = true;
        }
      });

      AFRAME.registerComponent('measure-angle', {
        init: function() {
          this.el.addEventListener('raycaster-intersected', evt => {
            this.raycaster = evt.detail.el;
          });
          this.el.addEventListener('raycaster-intersected-cleared', evt => {
            this.raycaster = null;
          });
        },

        tick: function(t, td) {
          if (!this.raycaster) { return; }  // Not intersecting.

          let intersection = this.raycaster.components.raycaster.getIntersection(this.el);
          if (!intersection) { return; }

          let point = intersection.point;
          let angle = (Math.atan2(-point.z, -point.x) - (Math.PI / 2)) * 180 / Math.PI;
          if (angle < 0) { angle = 360 + angle; }

          angle = angle.toFixed(1);

          $("#angle").text(`Angle: ${angle}`);
        }
      });

      $.urlParam = function(name){
        var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
        if (results) {
          return results[1] || 0;
        } else {
          return 0
        }
      }

      jQuery.fn.exists = function(){return this.length>0;}

      function draw_arrows(sphere_data) {
        for (const n_data of sphere_data["neighbours"]) {
          $("a-scene").append(`<a-entity gltf-model="#arrow" id="ar${n_data["id"]}" class="clickable arrow" mixin="bounce" position="${n_data["coordinates"]["x"]} 0.5 ${n_data["coordinates"]["y"]}" rotation="0 -${n_data["angle"]} 0" edges></a-entity>`)
        }

        $(".arrow").on("click", function(e) {
          let target_id = e.target.id.slice(2);
          set_sphere(target_id);

          var url = new URL(window.location);
          url.searchParams.set("id", target_id);
          window.history.pushState(null, document.title, url.href);
        });
      }

      function clear_arrows() {
        $(".arrow").remove();
      }

      function set_cam_rotation(sphere_data) {
        if (PREV_SPHERE){
          const angle = sphere_data["neighbours"].filter((n) => n["id"] == PREV_SPHERE)[0]["angle"];
          console.log(angle);

          let controls = document.querySelector('a-camera').components['look-controls'];
          controls.pitchObject.rotation.x = 0;
          controls.yawObject.rotation.y = 0;
          $("#cameraWrapper")[0].object3D.rotation.set(0, (180-angle)*(Math.PI/180), 0);
        }
      }

      function append_sphere_asset(id) {
        if (!$(`#sp${id}`).exists()) {
          console.log(id);
          $("#assets").append(`<img id="sp${id}" crossorigin="anonymous" src="/static/spheres/${id}.jpg">`);
        }
      }

      function set_sphere(id) {
        PREV_SPHERE = CUR_SPHERE;
        CUR_SPHERE = id;

        append_sphere_asset(id);

        $.ajax({url: `../api/sphere_data/${id}`, success: function(sphere_data){
          clear_arrows();
          draw_arrows(sphere_data);
          set_cam_rotation(sphere_data);

          for (const n_data of sphere_data["neighbours"]) {
            append_sphere_asset(n_data["id"]);
          }
        }});

        $("#sky").attr("src", `#sp${id}`);
      }

      window.addEventListener('popstate', function() {
        set_sphere($.urlParam("id"));
      });
    </script>
  </head>
  <body>
    <a-scene cursor="rayOrigin: mouse; fuse: false" raycaster="objects: .clickable">
      <a-assets id="assets">
        <img id="" class="sp" crossorigin="anonymous" src="">
        <img id="logo" crossorigin="anonymous" src="/static/logo.png">
        <a-asset-item id="arrow" src="/static/arrow.glb"></a-asset-item>
        <a-mixin id="bounce" scale="0.1 0.1 0.1" animation__scale="property: scale; to: 0.12 0.12 0.12; dur: 100; startEvents: mouseenter" animation__scale_reverse="property: scale; to: 0.1 0.1 0.1; dur: 100; startEvents: mouseleave"></a-mixin>
      </a-assets>
      <a-sky id="sky" class="clickable" src="#sp" rotation="0 90 0" measure-angle></a-sky>
      <a-circle color="#FFF" radius="0.60" rotation="-90 0 0"></a-circle>

      <a-entity id="mouseCursor" cursor="rayOrigin: mouse" raycaster="objects: [gui-interactable]"></a-entity>
		  <a-entity id="leftHand" laser-controls="hand: left" raycaster="objects: [gui-interactable]"></a-entity>
		  <a-entity id="rightHand" laser-controls="hand: right" raycaster="objects: [gui-interactable]"></a-entity>
      
      <a-entity id='cameraWrapper'>
        <a-camera wasd-controls-enabled="false" look-controls="reverseMouseDrag: true"></a-camera>
      </a-entity>


      <a-light type="ambient"></a-light>
      <a-light type="point" intensity="2" position="0 5 0"></a-light>
    </a-scene>
    <div id="angle"></div>

    <script>
      if ($.urlParam("id") != 0) {
        set_sphere($.urlParam("id"));
      } else {
        set_sphere("0209");
      }
      
    </script>
  </body>
</html>